.section1{
    padding: 80px 30px;
    border-bottom: solid 1px white;
}
.subsec1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    column-gap: 30px;
}
.btn1{
    width: 30%;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 500;
    outline: 0;
    border: none;
    padding: 1rem;
    border-radius: 30px;
    color: white;
    background-color: var( --green-color);

  }
  .btn2{
    width: 30%;
    color: black;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 500;
    outline: 0;
    border: none;
    padding: 1rem;
    border-radius: 30px;
    background-color: white;

  }
  img{
    padding-top: 30px;
    width: 100%;
    display: block;
  }